@import b3.vertical.fieldConstructor
@(form: Form[Login])(implicit messages: Messages)

@main("ログイン"){

    @* フォームが持つグローバルエラーを描画する *@
    @form.globalError.map { error =>
        <div class="alert alert-warning" role="alert">
            @error.message
        </div>
    }

    @b3.form(routes.LoginController.login, 'class -> "form-signin") {
        <h2 class="form-signin-heading">Please sign in</h2>
        @b3.email(form("email"), '_label -> "Email", 'placeholder -> "example@mail.com")
        @b3.password(form("password"), '_label -> "Password", 'placeholder -> "Password")
        @b3.submit('class -> "btn btn-lg btn-primary btn-block"){ Sign in }

    }
}
